<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KMCAgoraVoiceChatDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>95C902291F0CCA0500AC1FAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95C902481F0CCA4100AC1FAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95C902591F0CCAAC00AC1FAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95C902741F0CCADE00AC1FAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95C902901F0CCB3600AC1FAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95C902A11F0CCCDF00AC1FAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95C903751F0E11D600AC1FAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
